@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2) format('woff2');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format('woff2');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2) format('woff2');
  unicode-range: U+1F00-1FFF
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2) format('woff2');
  unicode-range: U+0370-03FF
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2) format('woff2');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
  font-family: ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}
#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%
}

html,body,canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

.grecaptcha-badge {
  visibility: hidden!important
}

* {
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: helvetica neue,Helvetica,Arial,sans-serif
}

.main-login-section {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.498039);
  z-index: 200
}

.main-login-area-center {
  width: 450px;
  background-color: rgba(0,0,0,.4);
  padding: 1rem
}


#chat_textbox {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  background: rgba(0,0,0,.2);
  border: 0;
  outline: none;
  color: #fff;
  height: 30px;
  text-indent: 12px;
  left: 10px;
  width: 300px
}

#chat_textbox:focus {
  background: rgba(0,0,0,.5)
}

#infoOverlays {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.498039);
  z-index: 400
}

#infoDialog {
  background-color: #fff;
  border-radius: 1px;
  padding: 5px 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  font-size: 15px;
  margin-right: -50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%) scale(.92);
  font-size: 15px
}

#infoDialog_continueBtn {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #337ab7;
  border: 0;
  padding: 1px;
  cursor: pointer;
  border-radius: 5px
}
